<<<<<<< HEAD
<div class="z_div">
<h1>Login</h1>
    <%=  form_for(:session, url: login_path) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

       <%= f.submit "Login", class: "btn btn-primary" %>

    <% end%>
    </div>
<<<<<<< HEAD
    </div>
=======
    </div>
>>>>>>> a7973466b83892f28576643158d39c3e70050052
=======
<%= render 'login'%>
>>>>>>> 79c296884e90bef17a34cfa37faac57b85e36289
