<%= form_with(model: @alert, remote: true, url: user_alerts_path(current_user), :authenticity_token => true) do |f| %>
<div class="time">
  <%= f.label :time %>
  <%= f.text_field :time %>
</div>
<div class="currency">
  <%= f.label :currency %>
  <%= f.text_field :currency %>
</div>
<div class="start_value">
  <%= f.label :start_value %>
  <%= f.text_field :start_value %>
</div>
<div class="min_new">
  <%= f.label :min_new %>
  <%= f.text_field :min_new %>
</div>

<div class="max_new">
  <%= f.label :max_new %>
  <%= f.text_field :max_new %>
</div>

<div class="time_value">
  <%= f.label :time_value %>
  <%= f.text_field :time_value %>
</div>
<div class="time_interval">
  <%= f.label :time_interval %>
  <%= f.text_field :time_interval %>
</div>

<% end %>