<table class="table table-bordered table-hover table-responsive">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Rank</th>
      <th>Price (USD)</th>
      <th>Price (Bitcoin)</th>
      <th>24 Hour Volume (USD)</th>
      <th>Market Cap (USD)</th>
      <th>Available Supply</th>
      <th>Total Supply</th>
      <th>1 Hr %&Delta;</th>
      <th>1 Day %&Delta;</th>
      <th>7 Day %&Delta;</th>
      <th></th>
    </thead>
    <tbody>
      
      <% @crypto.each do |result| %>
    </tr>
    <td><%= result['name'] %></td>
    <td><%= result['symbol'] %></td>
    <td><%= result['rank'] %></td>
    <td><%= result['price_usd'] %></td>
    <td><%= result['price_btc'] %></td>
    <td><%= result['24h_volume_usd'] %></td>
    <td><%= result['market_cap_usd'] %></td>
    <td><%= result['available_supply'] %></td>
    <td><%= result['total_supply'] %></td>
    <td><%= result['percent_change_1h'] %></td>
    <td><%= result['percent_change_24h'] %></td>
    <td><%= result['percent_change_7d'] %></td>
    <td><%= link_to "Alert Me", alerts_path %></td>
    <tr>
      <% end %>
    </tbody>
 </table>